<h2>Ma cave à vin</h2>

<div *ngIf="cave.length === 0">Aucune bouteille enregistrée.</div>
<label>Filtrer par type :</label>

<select [(ngModel)]="filtreType">
  <option value="">Tous</option>
  <option value="Rouge">Rouge</option>
  <option value="Blanc">Blanc</option>
  <option value="Rosé">Rosé</option>
</select>

<div *ngFor="let vin of cave" class="vin">
  {{ vin.nom }} - {{ vin.annee }} ({{ vin.type }}) : {{ vin.quantite }} bouteilles
  <button (click)="remplirFormulaire(vin)">Modifier</button>
  <button (click)="supprimerVin(vin)">Supprimer</button>
</div>


<h2>Ajouter un vin</h2>


<form (ngSubmit)="ajouterVin()">
 <input type="text" placeholder="Nom" [(ngModel)]="nouveauVin.nom" name="nom"  required  #nomInput="ngModel"/>
<div *ngIf="nomInput.invalid && nomInput.touched" class="erreur">
  Le nom est obligatoire
</div>

  <input type="number" placeholder="Année" [(ngModel)]="nouveauVin.annee" name="annee" required />
  
  <select [(ngModel)]="nouveauVin.type" name="type" required>
    <option value="Rouge">Rouge</option>
    <option value="Blanc">Blanc</option>
    <option value="Rosé">Rosé</option>
  </select>
  
  <input type="number" placeholder="Quantité" [(ngModel)]="nouveauVin.quantite" name="quantite" required />
  
  <button type="submit" [disabled]="form.invalid">
  {{ modeModification ? 'Modifier le vin' : 'Ajouter le vin' }}
</button>

</form>
